################################################################
# Basic libs

pandas
numpy
jupyter
matplotlib
Pillow
pickle5

################################################################
# Machine learning libs

scikit-learn