################################################################
# Basic libs

pandas
numpy
jupyter
matplotlib
seaborn

################################################################
# Machine learning libs

scikit-learn

################################################################
# Neural network lib

tensorflow