################################################################
# Basic libs

pandas
numpy
jupyter

################################################################
# Machine learning libs

scikit-learn

################################################################
# Neural network lib

tensorflow